		<section class="list-tasks">
			<h1>TASKS</h1>
			<p>THIS IS A TEST PARAGRAPH!</p>
			<!-- THIS IS WHERE WE WILL PUT THE TASKS!! -->
			<!-- WE WANT TO SHADE ALTERNATE LINES WITH CSS SO THAT TASKS ARE EASIER TO SEE. -->
		</section>

		<section class="other-actions">
			<a href="/add">Add A Task</a>
		</section>