		<section class="list-tasks">
			<h1>TASKS</h1>
			<% tasks_for_display = @displayed_task %>
			<ul class="displayed_list">
			<% tasks_for_display.each do |task| %>
					<li><%= task %></li>
      <% end %>
			</ul>
			<!-- THIS IS WHERE WE WILL PUT THE TASKS!! -->
			<!-- WE WANT TO SHADE ALTERNATE LINES WITH CSS SO THAT TASKS ARE EASIER TO SEE. -->
		</section>

		<section class="other-actions">
			<a href="/add">Add A Task</a>
		</section>
