<!DOCTYPE html>

<html>

	<head>
		<title>OUR SUPER COOL TASK LIST THING WITH EXTRA COOLNESS!</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="stylesheets/styles.css">
	</head>

	<body>
		<header>
			<!-- There will be a cool header graphic here!! -->
		</header>

		<%= yield %>

	</body>

</html>