/********** GLOBAL **********/

* {
	box-sizing: border-box;
}

body {
	font: 18px Helvetica, sans-serif;
	background-color: #CCC;
}

/********** HEADER *********/



/********** BODY/CONTENT *********/

.other-actions {
	background-color: #339933;
	border-radius: 27px;
	padding: 2rem;
	color: #FFF;
	text-decoration: none;
	text-align: center;
	width: 25%;
	margin: 0 auto;
	border: 2px solid #2d862d;
}

.other-actions a {
	text-decoration: none;
	color: #FFF;
}

.other-actions a:visited {
	color: #FFF;
}

ul.displayed_list {
	list-style-type: none;
}

.displayed_list li {
	border-radius: 27px;
	max-width: 85%;
	width: auto;
	margin-left: auto;
	margin-right: auto;
}

.odd-task {
	background-color: white;
	padding: 1rem;
	margin: 1rem;
}

.even-task {
	padding: 1rem;
	margin: 1rem;
	background-color: #cc99ff;
}

.task-title {
	font-weight: bolder;
	font-variant: small-caps;
	font-size: 125%;
	display: block;
	margin-bottom: -1rem;
}

.task-desc {
	font-size: 85%;
	display: block;
	margin-top: 0;
}

.completion {
	font-size: 85%;
	display: block;
}

.bold-text {
	font-weight: bolder;
}

/********** FOOTER **********/
