/********** GLOBAL **********/

* {
	box-sizing: border-box;
}

body {
	font: 18px Helvetica, sans-serif;
	background-color: #9A9A9A;
}

/********** HEADER *********/

/********** BODY/CONTENT *********/

ul.displayed_list {
	list-style-type: none;
}

.displayed_list li {
	border-radius: 27px;
}

.odd-task {
	background-color: white;
	padding: 1rem;
	margin: 1rem;
}

.even-task {
	padding: 1rem;
	margin: 1rem;
	background-color: #cc99ff;
}

.task-title {
	font-weight: bolder;
	font-variant: small-caps;
	font-size: 125%;
}

.task-desc {
	font-size: 85%;
}

.completion {
	font-size: 85%;
}

/********** FOOTER **********/
